<app-container-row-section idname="terms-of-use" classname="faq-info section-info">
    <div class="content-head center">
        <h3 class="center_divider" [innerHTML]="'terms_and_conditions.title' | translate"></h3>
    </div>
    <div class="col-md-12">
        <div class="clearfix seprator_top_forty"></div>
        <h5 [innerHTML]="'terms_and_conditions.attention' | translate"></h5>
        <ul class="list-custom">
            <li>
                <p class="text-justify"><span class="title">1. <strong>{{ 'terms_and_conditions.details.0.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.0.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">2. <strong>{{ 'terms_and_conditions.details.1.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.1.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">3. <strong>{{ 'terms_and_conditions.details.2.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.2.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">4. <strong>{{ 'terms_and_conditions.details.3.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.3.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">5. <strong>{{ 'terms_and_conditions.details.4.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.4.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">6. <strong>{{ 'terms_and_conditions.details.5.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.5.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">7. <strong>{{ 'terms_and_conditions.details.6.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.6.description' | translate"></span></p>
            </li>
            <li>
                <p class="text-justify"><span class="title">8. <strong>{{ 'terms_and_conditions.details.7.title' |
                            translate }}</strong></span><span class="description"
                        [innerHTML]="'terms_and_conditions.details.7.description' | translate"></span></p>
            </li>
        </ul>
        <div class="clearfix seprator_top_forty"></div>
    </div>
</app-container-row-section>