

<footer>
    <div id="contact" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-footer">
                    <h4><img src="../assets/images/logo_dark.png" alt="Unique"></h4>
                </div>
                <p class="margin_top margin_top_20"></p>
                <ul>
                    <li><a 
                        routerLink="/terms-of-use"
                         class=""><strong><span class="arrow_carrot-2right"></span>{{ 'footer_section.terms_of_use' | translate }}</strong></a></li>
                    <li><a 
                        routerLink="/privacy-policy"
                         class=""><strong><span class="arrow_carrot-2right"></span>{{ 'footer_section.privacy_policy' | translate }}</strong></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 [innerText]="'footer_section.contact' | translate"></h5>
                <ul class="uf-contactinfo">
                    <li><span class="icon_mail"></span>recruitment&#64;pacificseainvests.com<br></li>
                    <li><span class="icon_phone"></span> +63 (02) 551 6167 / +63 (02) 659 7113</li>
                    <li><span class="icon_printer-alt"></span> +63 (02) 659 7120</li>
                    <li><span class="icon_pin"></span> 16th Floor PBCom Bldg, Ayala Avenue <br>Makati City 1200,
                        Philippines</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 [innerText]="'footer_section.follow_us' | translate"></h5>
                <ul class="uf-contactinfo">
                    <li><a href="https://www.facebook.com/PacificseaBPOServices/" target="blank"
                            style="color:#fff;"><span class="social_facebook"></span>Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/pacific-sea-bpo-services-inc" target="blank"
                            style="color:#fff;"><span class="social_linkedin"></span>LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-3 hidden">
                <h5 [innerText]="'footer_section.registered_company' | translate"></h5>
                <p class="margin_top margin_top_20"><img src="../assets/images/pagcor-logo.png" width="90"
                        height="70"></p>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 alignleft">
                    <p [innerHtml]="translate.instant('footer_section.copyright', { year: year })"></p>
                </div>
            </div>
        </div>
    </div>
</footer>