
<section id="outreach" class="u-outreach" >
    <div class="container">
        <div class="row">
            <div class="content-head center">
                <h3 class="center_divider" [innerHTML]="'home.outreach_section.title' | translate"></h3>
            </div>
            <p class="content-sub" [innerText]="'home.outreach_section.description' | translate"></p>
            <div id="owl-blog">
                <div class="col-md-4 webdesign up-item item">
                    <div class="upi-thumb"><img src="/images/pages/{{ 'home.outreach_section.contents.0.img' | translate }}" alt="image"></div>
                    <div class="upi-inner">
                        <h4 [innerText]="'home.outreach_section.contents.0.title' | translate"></h4>
                        <p [innerText]="'home.outreach_section.contents.0.description' | translate"></p>
                    </div>
                </div>
                <div class="col-md-4 webdesign up-item item">
                    <div class="upi-thumb"><img src="/images/pages/{{ 'home.outreach_section.contents.1.img' | translate }}" alt="image"></div>
                    <div class="upi-inner">
                        <h4 [innerText]="'home.outreach_section.contents.1.title' | translate"></h4>
                        <p [innerText]="'home.outreach_section.contents.0.description' | translate"></p>
                    </div>
                </div>
                <div class="col-md-4 webdesign up-item item">
                    <div class="upi-thumb"><img src="/images/pages/{{ 'home.outreach_section.contents.2.img' | translate }}" alt="image"></div>
                    <div class="upi-inner">
                        <h4 [innerText]="'home.outreach_section.contents.2.title' | translate"></h4>
                        <p [innerText]="'home.outreach_section.contents.2.description' | translate"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

