<div class="content-head center">
    <h3 class="center_divider"><em><span class="highlight-color">OUTREACH</span>
            PROGRAMS</em></h3>
</div>
<p class="content-sub">We always believe in giving back and observe utmost
    generosity, not only to our employees, but also to our community.</p>
<div id="owl-blog">
    <div class="col-md-4 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/outreach1.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>RESCUE THAILAND</h4>
            <p>Donations were given to Thai Red Cross Society to aid victims of
                the devastating 2011 flood.</p>
        </div>
    </div>
    <div class="col-md-4 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/outreach3.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>OPERATION YOLANDA</h4>
            <p>Cash assistance were delivered to victims of super typhoon,
                Yolanda</p>
        </div>
    </div>
    <div class="col-md-4 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/outreach2.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>PROJECT HABAGAT</h4>
            <p>Financial assistance were given to employees who were heavily
                affected by torrential rains and flood.</p>
        </div>
    </div>
</div>