<app-container-row-section idname="privacy-policy" classname="faq-info section-info">
    <div class="content-head center">
        <h3 class="center_divider"><em> <span class="highlight-color">Privacy</span>
                Policy</em></h3>
    </div>
    <div class="col-md-12">
        <div class="clearfix seprator_top_forty"></div>
        <p class="text-justify">Our web servers only recognize the IP address or domain name
            of each visitor of this webpage, but not their e-mail address.</p>
        <p class="text-justify">The e-mail addresses and other personally identifiable
            information are collected from users of this web site when communicating with us via e-mail or other
            means. We also collect information and statistical data on our website such as what pages visitors
            access or visit and information volunteered by the visitor, such as survey information and/or site
            registrations.</p>
        <p class="text-justify">This privacy policy covers PSP's treatment of personally
            identifiable information, that we collect from you. By "personally identifiable information", we
            mean your name, address, telephone number(s), email address, identification numbers and
            identification documentation. This policy does not apply to the practices of companies that we do
            not own or control or to people that we do not employ or manage.</p>
        <h5 class="text-justify"><span class="highlight-color"> ACCEPTANCE OF PRIVACY POLICY
            </span></h5>
        <p class="text-justify">By accessing and using this website you are deemed to accept
            the Terms of Use of our Privacy Policy.</p>
        <ol class="list-custom"></ol><!---->
        <h5 class="text-justify"><span class="highlight-color"> INFORMATION COLLECTION AND
                USE </span></h5>
        <p class="text-justify">We may collect personally identifiable information from you
            when you submit a form on our site, email or write to us requesting information or services or
            customer support. We do not collect any personally identifiable information without your knowledge
            when you are on our site,only when you volunteer information, contact us or submit a form. We only
            use personally identifiable information to fulfill your requests for information or to render
            products or services to you.</p>
        <ol class="list-custom"></ol><!---->
        <h5 class="text-justify"><span class="highlight-color"> INFORMATION SHARING AND
                DISCLOSURE </span></h5>
        <p class="text-justify">We will not sell or rent your personally identifiable
            information to anyone. We will send personally identifiable information about you to other companies
            or people only when:</p>
        <ol class="list-custom">
            <li class="text-justify"><span data-v-27b780ab="">1. </span> we have your consent
                to share the information; or</li>
            <li class="text-justify"><span data-v-27b780ab="">2. </span> we need to share
                your information to provide the service or product you have requested; or</li>
            <li class="text-justify"><span data-v-27b780ab="">3. </span> we need to send the
                information to companies who work on behalf of our company to provide a service requested by you
                (unless we otherwise notify you when we collect such information, these companies shall not have
                any right to use the personally identifiable information we provide to them</li>
            <li class="text-justify"><span data-v-27b780ab="">4. </span> we respond to
                subpoenas, court orders or legal process; or</li>
            <li class="text-justify"><span data-v-27b780ab="">5. </span> we find that your
                actions on our web sites violate the terms of service, or any of our usage guidelines for
                specific services.</li>
        </ol>
        <p class="text-justify">In order to provide the information or services you have
            requested from us, we may transfer or store your personally identifiable information on computer
            equipment or in offices that are located across countries or jurisdictions, and may be managed and
            processed by our company internally as we please and you are deemed to consent to the same</p>
        <h5 class="text-justify"><span class="highlight-color"> CONTACTING US </span></h5>
        <p class="text-justify">If you have any queries about your personally identifiable
            information we hold or you wish that information to be updated or deleted, please send an email to
            <a href="mailto:job@pspbpo.com">info&#64;pspbpo.com</a> or write to us at the address mentioned in the
            contact us section of this web site. </p>
        <ol class="list-custom"></ol><!---->
        <div class="clearfix seprator_top_forty"></div>
    </div>
</app-container-row-section>