<app-container-row-section idname="privacy-policy" classname="faq-info section-info">
    <div class="content-head center">
        <h3 class="center_divider" [innerHtml]="'privacy_policy.title' | translate"></h3>
    </div>
    <div class="col-md-12">
        <div class="clearfix seprator_top_forty"></div>
        <p class="text-justify" [innerHtml]="'privacy_policy.contents.0' | translate"></p>
        <p class="text-justify" [innerHtml]="'privacy_policy.contents.1' | translate"></p>
        <p class="text-justify" [innerHtml]="'privacy_policy.contents.2' | translate"></p>
        <h5 class="text-justify" [innerHtml]="'privacy_policy.policies.0.title' | translate"></h5>
        <p class="text-justify" [innerHtml]="'privacy_policy.policies.0.description' | translate"></p>
        <ol class="list-custom"></ol>
        <h5 class="text-justify" [innerHtml]="'privacy_policy.policies.1.title' | translate"></h5>
        <p class="text-justify" [innerHtml]="'privacy_policy.policies.1.description' | translate"></p>
        <ol class="list-custom"></ol>
        <h5 class="text-justify" [innerHtml]="'privacy_policy.policies.2.title' | translate"></h5>
        <p class="text-justify" [innerHtml]="'privacy_policy.policies.2.description' | translate"></p>
        <ol class="list-custom">
            <li class="text-justify"><span>1. </span> {{ 'privacy_policy.policies.2.more_info.0' | translate }} </li>
            <li class="text-justify"><span>2. </span> {{ 'privacy_policy.policies.2.more_info.1' | translate }} </li>
            <li class="text-justify"><span>3. </span> {{ 'privacy_policy.policies.2.more_info.2' | translate }} </li>
            <li class="text-justify"><span>4. </span> {{ 'privacy_policy.policies.2.more_info.3' | translate }} </li>
            <li class="text-justify"><span>5. </span> {{ 'privacy_policy.policies.2.more_info.4' | translate }} </li>
        </ol>
        <p class="text-justify" [innerHTML]="'privacy_policy.policies.2.more_description' | translate"></p>
        <h5 class="text-justify" [innerHtml]="'privacy_policy.policies.3.title' | translate"></h5>
        <p class="text-justify" [innerHtml]="'privacy_policy.policies.3.description' | translate"></p>
        <ol class="list-custom"></ol>
        <div class="clearfix seprator_top_forty"></div>
    </div>
</app-container-row-section>