<mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="positionDesired">
      <form [formGroup]="positionDesired">
        <ng-template matStepLabel>Job Source &amp; Position Desired</ng-template>
            <!-- Job Source & Position Desired -->
            <div class="position-desired">
                <h4><span class="highlight-color">Job Source</span></h4>
                    <p class="ma-0 mb-2 pa-0 text-required-field">(<span class="text-red">*</span>) Required fields.</p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field appearance="fill" class="required">
                                <mat-label>Job Source</mat-label>
                                <mat-select formControlName="source" [(value)]="formValues.source" [disabled]="isJobSourceDisabled" (selectionChange)="onSelectionChange($event)">
                                  <mat-option *ngFor="let source of selectForms.sources" [value]="source">
                                    {{ source }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="positionDesired.get('firstCtrl')?.hasError('required') && validator.source.$errors.length > 0">
                                  {{ validator.source.$errors }}
                                </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field appearance="fill" class="required" *ngIf="formValues.source?.toLowerCase()!.trim() === 'referral'">
                                <mat-label>Referred by</mat-label>
                                <input matInput formControlName="refer" [(ngModel)]="formValues.refer" [ngClass]="{'required-input': true}" />
                                <mat-error *ngIf="validator.refer.$errors.length > 0">
                                 
                                </mat-error>
                              </mat-form-field>
                              
                              <mat-form-field appearance="fill" class="required" *ngIf="formValues.source?.toLowerCase()!.trim() === 'other'">
                                <mat-label>Please specify</mat-label>
                                <input matInput formControlName="other_job_source" [(ngModel)]="formValues.other_job_source" [ngClass]="{'required-input': true}" />
                                <mat-error *ngIf="validator.other_job_source.$errors.length > 0">
                                 
                                </mat-error>
                              </mat-form-field>
                              
                              <mat-form-field appearance="fill" class="required" *ngIf="formValues.source?.toLowerCase()!.trim() === 'social media'">
                                <mat-label>Please specify</mat-label>
                                <mat-select  formControlName="social_media" [(value)]="formValues.other_job_source" [disabled]="isSocMedDisabled">
                                  <mat-option *ngFor="let social of selectForms.socialsData" [value]="social">
                                    {{ social }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="validator.other_job_source.$errors.length > 0">
                                 
                                </mat-error>
                              </mat-form-field>
                              
                        </div>
                    </div>
                    <h4><span class="highlight-color">Position Desired</span></h4>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <mat-form-field appearance="fill" class="required">
                                <mat-label>Position Applied For</mat-label>
                                <mat-select formControlName="source" [(value)]="formValues.source" [disabled]="isJobSourceDisabled" (selectionChange)="onSelectionChange($event)">
                                  <mat-option *ngFor="let source of selectForms.sources" [value]="source">
                                    {{ source }}
                                  </mat-option>
                                </mat-select>
                
                              </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                          <mat-form-field appearance="fill" class="required">
                                <mat-label>Nationality</mat-label>
                                <mat-select formControlName="source" [(value)]="formValues.source" [disabled]="isJobSourceDisabled" (selectionChange)="onSelectionChange($event)">
                                  <mat-option *ngFor="let source of selectForms.sources" [value]="source">
                                    {{ source }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                          <!-- <mat-form-field appearance="fill" class="required">
                              <mat-label>Notice Period Required</mat-label>
                              <mat-select formControlName="source" [(value)]="formValues.source" [disabled]="isJobSourceDisabled" (selectionChange)="onSelectionChange($event)">
                                  <mat-option *ngFor="let source of selectForms.sources" [value]="source">
                                    {{ source }}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                              
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                           <!-- <mat-form-field appearance="fill">
                                <mat-label>Salary</mat-label>
                                <input matInput 
                                       [(ngModel)]="formValues.source" 
                                       [placeholder]="'Enter salary'"
                                       (ngModelChange)="onSalaryChange($event)"

                                       max="999999.00">
                               
                              </mat-form-field>
                            <div class="custom-error-container py-1 px-3 text-red-darken-4">
                                <div class="v-messages" role="alert" >
                                    <div class="messages__message"></div>   
                                </div>
                            </div> -->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                            <!-- <mat-form-field appearance="fill">
                                <mat-label>Date Available to Work</mat-label>
                                <input matInput 
                                       [(ngModel)]="formValues.source" 
                                       [placeholder]="'Enter salary'"
                                       (ngModelChange)="onSalaryChange($event)"

                                       max="999999.00">
                          
                              </mat-form-field>
                            <div class="custom-error-container py-1 px-3 text-red-darken-4">
                                <div class="v-messages" role="alert" >
                                    <div class="messages__message"></div>   
                                </div>
                            </div> -->
                        </div>
                    </div>
            </div><!-- Personal Information -->
        <div>
          <button mat-button matStepperNext [disabled]="positionDesired.invalid">Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="personalInformation">
      <form [formGroup]="personalInformation">
        <ng-template matStepLabel>Personal Information</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="personalInformation.invalid">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="academicLanguage">
        <form [formGroup]="academicLanguage">
          <ng-template matStepLabel>Academic &amp; Language</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="academicLanguage.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="careerCharacter">
        <form [formGroup]="careerCharacter">
          <ng-template matStepLabel>Career &amp; Character</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="forthCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="careerCharacter.invalid">Next</button>
          </div>
        </form>
      </mat-step>
      
    
    <mat-step>
      <ng-template matStepLabel>Resume &amp; Image</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  