<div class="u-welcome animated bounceInDown border_bottom" id="u-welcome">
    <div class="container">
        <h3><span class="highlight-color">WHAT WE DO</span></h3>
        <p>Pacific Sea BPO Services (PSP) is a top-notched provider of services that involve
            online marketing and customer support.</p>
        <p>We are committed not only in delivering superb customer experience. We also want
            our employees to enjoy rewarding moments with us.</p>
        <p><em>Because experience matters.</em></p>
    </div>
</div>