<app-container-row-section classname="career section-info" idname="">
        <div class="content-head center">
                <h3 class="center_divider" [innerHtml]="'careers.title' | translate"></h3>
        </div>
        <div class="col-md-9">
                <div class="clearfix seprator_top_forty"></div>
                <p [innerHtml]="'careers.description' | translate"></p>
                <div class="clearfix seprator_top_forty"></div>
                <h4 [innerText]="'careers.benefits.title' | translate"></h4>
                <h5 [innerText]="'careers.benefits.contents.0.category' | translate"></h5>
                <ol class="list-custom">
                        <li><span class="number">1.</span> {{ 'careers.benefits.contents.0.benefits.0' | translate }}
                        </li>
                        <li><span class="number">2.</span> {{ 'careers.benefits.contents.0.benefits.1' | translate }}
                        </li>
                        <li><span class="number">3.</span> {{ 'careers.benefits.contents.0.benefits.2' | translate }}
                        </li>
                        <li><span class="number">4.</span> {{ 'careers.benefits.contents.0.benefits.3' | translate }}
                        </li>
                        <li><span class="number">5.</span> {{ 'careers.benefits.contents.0.benefits.4' | translate }}
                        </li>
                        <li><span class="number">6.</span> {{ 'careers.benefits.contents.0.benefits.5' | translate }}
                        </li>
                        <li><span class="number">7.</span> {{ 'careers.benefits.contents.0.benefits.6' | translate }}
                        </li>
                        <li><span class="number">8.</span> {{ 'careers.benefits.contents.0.benefits.7' | translate }}
                        </li>
                        <li><span class="number">9.</span> {{ 'careers.benefits.contents.0.benefits.8' | translate }}
                        </li>
                        <li><span class="number">10.</span> {{ 'careers.benefits.contents.0.benefits.9' | translate }}
                        </li>
                        <li><span class="number">11.</span> {{ 'careers.benefits.contents.0.benefits.10' | translate }}
                        </li>
                        <li><span class="number">12.</span> {{ 'careers.benefits.contents.0.benefits.11' | translate }}
                        </li>
                </ol>
                <div class="clearfix seprator_top_thirty"></div>
                <h5 [innerText]="'careers.benefits.contents.1.category' | translate"></h5>
                <ol class="list-custom">
                        <li><span class="number">1.</span> {{ 'careers.benefits.contents.1.benefits.0' | translate }}
                        </li>
                        <li><span class="number">2.</span> {{ 'careers.benefits.contents.1.benefits.1' | translate }}
                        </li>
                        <li><span class="number">3.</span> {{ 'careers.benefits.contents.1.benefits.2' | translate }}
                        </li>
                        <li><span class="number">4.</span> {{ 'careers.benefits.contents.1.benefits.3' | translate }}
                        </li>
                        <li><span class="number">5.</span> {{ 'careers.benefits.contents.1.benefits.4' | translate }}
                        </li>
                        <li><span class="number">6.</span> {{ 'careers.benefits.contents.1.benefits.5' | translate }}
                        </li>
                        <li><span class="number">7.</span> {{ 'careers.benefits.contents.1.benefits.6' | translate }}
                        </li>
                        <li><span class="number">8.</span> {{ 'careers.benefits.contents.1.benefits.7' | translate }}
                        </li>
                        <li><span class="number">9.</span> {{ 'careers.benefits.contents.1.benefits.8' | translate }}
                        </li>
                        <li><span class="number">10.</span> {{ 'careers.benefits.contents.1.benefits.9' | translate }}
                        </li>
                </ol>
                <div class="clearfix seprator_top_thirty"></div>
        </div>
        <div class="col-md-3 clearfix positions">
                <div class="clearfix seprator_top_forty"></div>
                <h4 [innerHtml]="'jobs.title' | translate"></h4>
                <div class="clearfix seprator_top_thirty"></div>
                <div *ngFor="let content of 'jobs.contents' | translate">
                        <h5>{{ content.category }}</h5>
                        <ul class="diamond">
                                <li *ngFor="let job of content.job_lists">
                                        <a
                                        [routerLink]="['/jobs', content.category.toLowerCase(), job.slug, job.market.toLowerCase()]"
                                        >{{
                                        job.title }}</a>
                                </li>
                        </ul>
                        <div class="clearfix seprator_top_thirty"></div>
                </div>

                <div class="clearfix seprator_top_forty"></div>
                <p> Can't find what you are looking for?<br>Discover what’s
                        possible. Join our Talent Pool today! </p>
                <p><a href="/resume" class="btn-medium btn-full-black active">JOIN
                                US</a></p>
        </div>
</app-container-row-section>