<div class="content-head center">
    <h3 class="center_divider"><a href="#perks"><em><span class="highlight-color">Perks</span></em></a></h3>
</div>
<p class="content-sub">We love to give rewards. Take a peek at what our employees
    enjoy!</p>
<div id="owl-blog">
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/bonuses.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>BONUSES &amp; INCENTIVES</h4>
            <p>Cash incentives and performance bonuses await those who excel in
                their craft!</p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/company_trip.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>COMPANY TRAVEL</h4>
            <p>Prepare your passport. The company provides all-expense-paid trips
                to known destinations!</p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/recreations.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>RECREATIONS</h4>
            <p>Sports fests, fun runs, spas and more! We all need to relax at
                times!</p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="/images/pages/trainings.jpg" alt="image"></div>
        <div class="upi-inner">
            <h4>TRAININGS</h4>
            <p>Learning is a continuous process and here at Pacific Sea, we give
                time in learning new things.</p>
        </div>
    </div>
</div>