<div class="content-head center">
    <h3 class="center_divider"><a routerLink="" fragment="perks"><em><span class="highlight-color" [innerText]="'home.perks_section.title' | translate"></span></em></a></h3>
</div>
<p class="content-sub" [innerText]="'home.perks_section.description' | translate">
    enjoy!</p>
<div id="owl-blog">
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="../assets/images/pages/{{ 'home.perks_section.contents.0.img' | translate }}" alt="image"></div>
        <div class="upi-inner">
            <h4 [innerText]="'home.perks_section.contents.0.title' | translate"></h4>
            <p [innerText]="'home.perks_section.contents.0.description' | translate"></p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="../assets/images/pages/{{ 'home.perks_section.contents.1.img' | translate }}" alt="image"></div>
        <div class="upi-inner">
            <h4 [innerText]="'home.perks_section.contents.1.title' | translate"></h4>
            <p [innerText]="'home.perks_section.contents.1.description' | translate"></p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="../assets/images/pages/{{ 'home.perks_section.contents.2.img' | translate }}" alt="image"></div>
        <div class="upi-inner">
            <h4 [innerText]="'home.perks_section.contents.2.title' | translate"></h4>
            <p [innerText]="'home.perks_section.contents.2.description' | translate"></p>
        </div>
    </div>
    <div class="col-md-3 webdesign up-item item">
        <div class="upi-thumb"><img src="../assets/images/pages/{{ 'home.perks_section.contents.3.img' | translate }}" alt="image"></div>
        <div class="upi-inner">
            <h4 [innerText]="'home.perks_section.contents.3.title' | translate"></h4>
            <p [innerText]="'home.perks_section.contents.3.description' | translate"></p>
        </div>
    </div>
</div>