<div class="fullscreen-container">
    <div class="slider fullscreenbanner text-center home-banner">
        <ul>
            <li data-transition="boxslide" data-slotamount="7"><img src="/images/header_bg.png" alt="image"
                    class="home-banner-img">
                <div class="home-banner-caption">
                    <div class="tp-caption skewfromleft" data-speed="500" data-x="60" data-start="900"
                        data-endspeed="500" data-y="150"
                        style="font-weight: 700; line-height: 51px; letter-spacing: 1px; color: rgb(2, 100, 170); font-size: 72px;">
                        PACIFIC SEA</div>
                    <div class="tp-caption skewfromleft" data-speed="500" data-x="60" data-start="900"
                        data-endspeed="500" data-y="210"
                        style="font-weight: 700; line-height: 51px; letter-spacing: 1px; color: rgb(2, 100, 170); font-size: 54px;">
                        BPO Services, Inc.</div>
                    <div class="tp-caption lfl" data-speed="500" data-start="1100" data-endspeed="500" data-x="60"
                        data-y="270"
                        style="font-weight: 700; font-size: 25px; color: rgb(56, 56, 56); padding-left: 0px; text-align: justify;">
                        <span style="position: relative; top: 2px;"></span>A spot for the
                        creative thinkers, strategists <br>and career-driven professionals
                        <!---->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>