<title>{{ jobContent?.title }} | Pacific Sea BPO Services, Ltd.</title>
<app-container-row-section idname="" classname="faq-info section-info">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <h3><span class="highlight-color">{{ jobContent?.title }}</span>
                    </h3>
                </div>
                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <div class="clearfix seprator_top_twenty"></div>
                    <tbody>
                        <tr>
                            <th width="20%"><span class="highlight-color">Location: </span></th>
                            <td><strong>Makati City, Philippines</strong></td>
                        </tr>
                        <tr>
                            <th><span class="highlight-color">Department:</span>
                            </th>
                            <td><strong>{{ jobContent?.dept }}</strong></td>
                        </tr>
                        <tr>
                            <th><span class="highlight-color">Work Type: </span>
                            </th>
                            <td><strong>Full Time</strong></td>
                        </tr>
                        <tr>
                            <th><span class="highlight-color">Work Location:
                                </span></th>
                            <td><strong>On-site</strong></td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix seprator_top_twenty"></div>
                <h4><span class="highlight-color">REQUIRED NATIONALITIES:</span>
                </h4>
                <ol class="list-custom break-text">
                    <li *ngFor="let market of marketList; let i = index">
                      {{ i + 1 }}. {{ market }}
                    </li>
                  </ol>
                <div class="clearfix seprator_top_twenty"></div>
                <h4><span class="highlight-color">JOB RESPONSIBILITIES:</span>
                </h4>
                <div class="clearfix seprator_top_twenty"></div>
                <ol class="list-custom break-text">
                    <li *ngFor="let responsibility of jobContent?.responsibilities; let i = index">
                        {{ i+1 }}. {{ responsibility }}
                    </li>
                </ol>
                <div class="clearfix seprator_top_twenty"></div>
                <h4><span class="highlight-color">JOB REQUIREMENTS:</span></h4>
                <ol class="list-custom">
                    <ng-container *ngIf="jobContent?.requirements?.length > 0; else noRequirements">
                        <li *ngFor="let requirement of jobContent?.requirements; let i = index">
                            {{ i+1 }}. {{ requirement }}
                        </li>
                    </ng-container>
                    <ng-template #noRequirements>
                        <li>
                            Not available
                        </li>
                    </ng-template>
                    
                </ol>
                <div class="clearfix seprator_top_twenty"></div>
                <h4><span class="highlight-color">OTHER REQUIREMENTS:</span></h4>
                <ol class="list-custom">
                    <ng-container *ngIf="jobContent?.other_requirements?.length > 0; else noOtherRequirements">
                        <li *ngFor="let other_requirement of jobContent?.other_requirements; let i = index">
                            {{ i+1 }}. {{ other_requirement }}
                        </li>
                    </ng-container>
                    <ng-template #noOtherRequirements>
                        <li>
                            Not available
                        </li>
                    </ng-template>
                </ol>
                <div class="clearfix seprator_top_twenty"></div>
                <h4><span class="highlight-color">EDUCATIONAL BACKGROUND:</span>
                </h4>
                <ol class="list-custom">
                    <ng-container *ngIf="jobContent?.other_requirements?.length > 0; else noBackground">
                        <li *ngFor="let other_background of jobContent?.educational_background; let i = index">
                            {{ i+1 }}. {{ other_background }}
                        </li>
                    </ng-container>
                    <ng-template #noBackground>
                        <li>
                            Not available
                        </li>
                    </ng-template>
                </ol>
                <div class="clearfix seprator_top_thirty"></div>
                <p></p>
            </div>
            <div class="col-md-3">
                <div data-animated="200" class="price_table">
                    <div class="hostingtable element_from_left">
                        <div class="hostingcontent">
                            <h5><span class="highlight-color">COMPANY
                                    SNAPSHOT</span></h5>
                            <div class="hostingborder"></div>
                            <ul>
                                <li><strong>Working Hours:</strong></li>
                                <li>9 Hours</li>
                                <li><strong>Rest Day:</strong></li>
                                <li>2 RD in a week</li>
                                <li><strong>Dress Code:</strong></li>
                                <li>Business Attire - Weekdays</li>
                                <li>Casual Attire - Weekends</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-container-row-section>