<div class="content-head center">
    <h3 class="center_divider">
        <a routerLink="/companyprofile" [innerHTML]="'home.company_profile.title' | translate"></a>
    </h3>
</div>
<p class="content-sub" [innerHTML]="'home.company_profile.description' | translate"></p>
<div class="col-md-4 animated fadeInRight">
    <span class="ct-ribbon"><span class="ct-triangle"></span><span class="ct-triangle two"></span><span><i
                class="icon_target"></i></span></span>
    <div class="us-content">
        <h4 class="mb-2" [innerText]="'home.company_profile.vision.title' | translate"></h4>
        <p [innerHtml]="'home.company_profile.vision.description' | translate"></p>
        <a routerLink="/companyprofile" fragment="vision" routerLinkActive="active" class="btn-small"
            [innerText]="'home.company_profile.readmore' | translate"></a>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-md-4 animated fadeInUp">
    <span class="ct-ribbon"><span class="ct-triangle"></span><span class="ct-triangle two"></span><span><i
                class="icon_key"></i></span></span>
    <div class="us-content">
        <h4 class="mb-2" [innerText]="'home.company_profile.mission.title' | translate"></h4>
        <p [innerHtml]="'home.company_profile.mission.description' | translate"></p>
        <a routerLink="/companyprofile" fragment="mission" class="btn-small" routerLinkActive="active"
            [innerText]="'home.company_profile.readmore' | translate"></a>
    </div>
</div>
<div class="col-lg-4 col-md-4 animated fadeInLeft">
    <span class="ct-ribbon"><span class="ct-triangle"></span><span class="ct-triangle two"></span><span><i
                class="icon_star"></i></span></span>
    <div class="us-content">
        <h4 class="mb-2" [innerText]="'home.company_profile.core_values.title' | translate"></h4>
        <p [innerHTML]="'home.company_profile.core_values.description' | translate"></p>
        <a routerLink="/companyprofile" fragment="corevalues" class="btn-small" routerLinkActive="active"
            [innerText]="'home.company_profile.readmore' | translate"></a>
    </div>
</div>