<section class="faq-info">
    <div class="container">
        <div class="col-md-12">
            <div class="content-head center">
                <h3 class="center_divider"><em>APPLICANT<span class="highlight-color"> DETAILS</span></em></h3>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="col-md-12 elevation-5">
            <form class="" novalidate="" id="resume-form">
                <div class="forms-container">
                    <app-stepper-resume></app-stepper-resume>
                </div>
            </form>
        </div>
    </div>

</section>