<app-section classname="comprofile section-info">
    <div class="container">
        <div class="content-head center">
            <h3 class="center_divider" [innerHTML]="'company_profile.header' | translate"></h3>
        </div>
        <div class="clearfix seprator_top_forty"></div>
        <div class="col-md-12">
            <div class="row">
                <p [innerHtml]="'company_profile.descriptions.0' | translate"></p>
                <p [innerHtml]="'company_profile.descriptions.1' | translate"></p>
                <p [innerHtml]="'company_profile.descriptions.2' | translate"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div style="text-align: center; margin: 0px auto;"><img
                        src="../assets/images/pages/makati.jpg" style="margin-bottom: 40px;"></div>
                <h4><span class="highlight-color" [innerText]="'company_profile.body.title' | translate"></span></h4>
                <p [innerHTML]="'company_profile.body.descriptions.0' | translate"></p>
                <p [innerHTML]="'company_profile.body.descriptions.1' | translate"></p>
                <p [innerHTML]="'company_profile.body.descriptions.2' | translate"></p>
                <p [innerHTML]="'company_profile.body.descriptions.3' | translate"></p>
                <p [innerHTML]="'company_profile.body.descriptions.4' | translate"></p>
                <p [innerHTML]="'company_profile.body.descriptions.5' | translate"></p>
            </div>
        </div>
    </div>
</app-section>

<app-section classname="comprofile" idname="">
    <div class="container" id="vision">
        <div  class="col-md-12">
            <div  class="row">
                <h4 ><span class="highlight-color" [innerText]="'company_profile.vision.title' | translate"></span></h4>
                <p [innerHTML]="'company_profile.vision.descriptions' | translate"></p>
            </div>
        </div>
    </div>
</app-section>

<app-section classname="comprofile" idname="">
    <div class="container" id="mission">
        <div class="col-md-12">
            <div class="row">
                <h4><span class="highlight-color" [innerText]="'company_profile.mission.title' | translate"></span></h4>
                <p [innerHTML]="'company_profile.mission.descriptions' | translate"></p>
                <ul class="diamond">
                    <li [innerHTML]="'company_profile.mission.sub_descriptions.0' | translate"></li>
                    <li [innerHTML]="'company_profile.mission.sub_descriptions.1' | translate"></li>
                </ul>
            </div>
        </div>
    </div>
</app-section>

<app-section classname="comprofile" idname="">
    <div class="container" id="corevalues">
        <div class="col-md-12">
            <div class="row">
                <h4><span class="highlight-color" [innerText]="'company_profile.core_values.title' | translate"></span></h4>
                <p [innerHtml]="'company_profile.core_values.descriptions' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.0' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.1' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.2' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.3' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.4' | translate"></p>
                <p [innerHtml]="'company_profile.core_values.sub_descriptions.5' | translate"></p>
                <div class="clearfix seprator_top_forty"></div>
                <div class="clearfix seprator_top_forty"></div>
            </div>
        </div>
    </div>
</app-section>